<br />
<div class = "container">
  <form>
    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">Nombre de la Empresa</label>
      <div class = "col-sm-7">
        <select name = "" id = "" class = "form-control">
          <option value = "">Selecione una empresa...</option>
        </select>
      </div><!--/col-sm-7-->  
    </div><!--/form-group-->
    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">Nombre Representante de --empresa-- para los Trabajos (RGT):</label>
      <div class = "col-sm-7">
          <select name = "" id = "" class = "form-control">
              <option value = "">Selecione una empresa...</option>
            </select>
      </div><!--/col-sm-7-->
    </div><!--/form-group-->
    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">No. Pasaporte / DNI del RGT:</label>
      <div class = "col-sm-7">
        <input type = "email" class="form-control" id="inputEmail3" placeholder="No. Pasaporte / DNI del RGT" />
      </div><!--/col-sm-7-->
    </div><!--/form-group-->

    <hr />

    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">Nombre Representante de la Empresa para los Trabajos:</label>
      <div class = "col-sm-7">
          <select name = "" id = "" class = "form-control">
              <option value = "">Selecione una empresa...</option>
            </select>
      </div><!--/col-sm-7-->
    </div><!--/form-group-->
    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">No. Pasaporte / DNI del RET:</label>
      <div class = "col-sm-7">
        <input type = "email" class="form-control" id="inputEmail3" placeholder="No. Pasaporte / DNI del RET" />
      </div><!--/col-sm-7-->
    </div><!--/form-group-->
    <div class = "form-group row">
        <label for = "inputEmail3" class="col-sm-5 col-form-label">Telefono RET:</label>
        <div class = "col-sm-7">
          <input type = "email" class="form-control" id="inputEmail3" placeholder="No. Pasaporte / DNI del RET" />
        </div><!--/col-sm-7-->
      </div><!--/form-group-->

    <div class = "form-group row">
      <div class = "col-sm-10">
        <button type = "button" class = "btn btn-primary">Sign in</button>
      </div>
    </div><!--/form-group-->
  </form>
</div><!--/container-->