<br />
<div class = "container">
  <form>
    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">Nombre de la Empresa</label>
      <div class = "col-sm-7">
        <select name = "" id = "" class = "form-control">
          <option value = "">Selecione una empresa...</option>
        </select>
      </div><!--/col-sm-7-->  
    </div><!--/form-group-->
    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">Nombre Representante de --empresa-- para los Trabajos (RGT):</label>
      <div class = "col-sm-7">
          <select name = "" id = "" class = "form-control">
              <option value = "">Selecione un representante...</option>
            </select>
      </div><!--/col-sm-7-->
    </div><!--/form-group-->
    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">No. Pasaporte / DNI del RGT:</label>
      <div class = "col-sm-7">
        <input type = "email" class="form-control" id="inputEmail3" placeholder="No. Pasaporte / DNI del RGT" />
      </div><!--/col-sm-7-->
    </div><!--/form-group-->

    <hr />

    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">Nombre Representante de la Empresa para los Trabajos:</label>
      <div class = "col-sm-7">
          <select name = "" id = "" class = "form-control">
              <option value = "">Selecione un representante...</option>
            </select>
      </div><!--/col-sm-7-->
    </div><!--/form-group-->
    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">No. Pasaporte / DNI del RET:</label>
      <div class = "col-sm-7">
        <input type = "email" class="form-control" id="inputEmail3" placeholder="No. Pasaporte / DNI del RET" />
      </div><!--/col-sm-7-->
    </div><!--/form-group-->
    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">Telefono RET:</label>
      <div class = "col-sm-7">
        <input type = "email" class="form-control" id="inputEmail3" placeholder="No. Pasaporte / DNI del RET" />
      </div><!--/col-sm-7-->
    </div><!--/form-group-->
    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">Puesto que ocupa:</label>
      <div class = "col-sm-7">
          <select name = "" id = "" class = "form-control">
              <option value = "">Selecione un puesto...</option>
            </select>
      </div><!--/col-sm-7-->
    </div><!--/form-group-->
    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">Nombre de la Empresa</label>
      <div class = "col-sm-7">
        <select name = "" id = "" class = "form-control">
          <option value = "">Selecione una empresa...</option>
        </select>
      </div><!--/col-sm-7-->  
    </div><!--/form-group-->
    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">Número de identificación fiscal:</label>
      <div class = "col-sm-7">
        <input type = "email" class="form-control" id="inputEmail3" placeholder="Número de identificación fiscal" />
      </div><!--/col-sm-7-->
    </div><!--/form-group-->
    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">No. Inscripción Seguridad Social:</label>
      <div class = "col-sm-7">
        <input type = "email" class="form-control" id="inputEmail3" placeholder="No. Inscripción Seguridad Social" />
      </div><!--/col-sm-7-->
    </div><!--/form-group-->
    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">Nombre de la Empresa</label>
      <div class = "col-sm-7">
        <select name = "" id = "" class = "form-control">
          <option value = "">Selecione una empresa...</option>
        </select>
      </div><!--/col-sm-7-->  
    </div><!--/form-group-->
    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">Dirección:</label>
      <div class = "col-sm-7">
        <input type = "email" class="form-control" id="inputEmail3" placeholder="Dirección" />
      </div><!--/col-sm-7-->
    </div><!--/form-group-->
    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">Población, País:</label>
      <div class = "col-sm-7">
        <input type = "email" class="form-control" id="inputEmail3" placeholder="Población, País" />
      </div><!--/col-sm-7-->
    </div><!--/form-group-->
    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">Telefono:</label>
      <div class = "col-sm-7">
        <input type = "email" class="form-control" id="inputEmail3" placeholder="Telefono" />
      </div><!--/col-sm-7-->
    </div><!--/form-group-->
    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">Clasificación Nacional Activid. Economicas:</label>
      <div class = "col-sm-7">
        <input type = "email" class="form-control" id="inputEmail3" placeholder="Clasificación Nacional Activid. Economicas" />
      </div><!--/col-sm-7-->
    </div><!--/form-group-->
    <div class = "form-group row">
      <label for = "inputEmail3" class="col-sm-5 col-form-label">Mutua Accidentes Contratada:</label>
      <div class = "col-sm-7">
        <input type = "email" class="form-control" id="inputEmail3" placeholder="Mutua Accidentes Contratada" />
      </div><!--/col-sm-7-->
    </div><!--/form-group-->



    <div class = "form-group row">
      <div class = "col-sm-10">
        <button type = "button" class = "btn btn-primary">Sign in</button>
      </div>
    </div><!--/form-group-->
  </form>
</div><!--/container-->